./C#/.vs/*
Angular/node_modules/
Angular/dist/
Angular/build/
Angular/.env
Angular/.env
Angular/.angular/cache/
Angular/.idea/
Angular/.vscode/
Angular/.log
Angular/tmp/
Angular/temp/
Angular/.DS_Store
Angular/Thumbs.db
Angular/coverage/
Angular/*.tsbuildinfo